@import './Base/common.scss';

@import './Helper/mixin.scss';
@import './Helper/variable.scss';
@import './Helper/text.scss';

@import './Components/button.scss';
@import './Components/navbar.scss';
@import './Components/sidebar.scss';
@import './Components/card.scss';

@import './Pages/home.scss';
@import './Pages/login.scss';
@import './Pages/user-detail.scss';
@import './Pages/product.scss';
