.text-color-blue {
   color: $-blue-1;
}
.text-color-yellow {
   color: $-yellow-1;
}
.text-color-gray-1 {
   color: $-gray-1;
}
.text-color-gray-2 {
   color: $-gray-2;
}

.hover-underline {
   position: relative;
   display: inline-block;
}

.hover-underline::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 2px;
   background-color: #ffb4b4;
   transition: width 0.3s ease;
}

.hover-underline:hover::before {
   width: 100%;
}
