.product-page {
   .bg-image {
      background-image: url('/src/assets/img/fruit.jpg');
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0%;
      left: 0;
      width: 100%;
      object-fit: cover;
      z-index: -3;
      background-position: center;
   }
   .overlay {
      background: gray;
      opacity: 0.2;
      z-index: -2;
   }
}
